<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816443291962-83t0d0vkhdl081l5ci4ui3autt64mbk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816443291962-83t0d0vkhdl081l5ci4ui3autt64mbk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCbX3Y8tnf-uQpQltVikSz45fN0lHZ_Aaw</string>
	<key>GCM_SENDER_ID</key>
	<string>816443291962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kazungudev.app</string>
	<key>PROJECT_ID</key>
	<string>event-tracking-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>event-tracking-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816443291962:ios:ac0d3307c0d718027f7803</string>
</dict>
</plist>